@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.waving-hand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-10 w-10 mt-1 md:mx-auto my-1 ml-1
     bg-gray-100 text-gray-500 hover:bg-gray-200 
     hover:text-gray-700 rounded-3xl hover:rounded-[13px] transition-all duration-300 cursor-pointer;
  }

  .dawn-mode .sidebar-icon {
    @apply bg-[#6BA49C] hover:bg-[#a1e6cb] text-gray-800;
  }

  .moon-mode .sidebar-icon {
    @apply bg-[#061E4600] hover:bg-[#1515eb] text-gray-300 hover:text-gray-100;
  }

  .sidebar-tooltip {
    @apply absolute w-auto px-3 py-2 m-0 min-w-max left-14 rounded-md shadow-md
    text-gray-700 bg-gray-200 
    text-xs font-medium 
    transition-all duration-300 scale-0 origin-left;
  }

  .mode {
    @apply bg-transparent p-0 m-0;
  }

  .active {
    @apply bg-gray-100 shadow-sm;
  }

  .dawn-mode .active {
    @apply bg-[#a1e6cb] shadow-sm;
  }

  .moon-mode .active {
    @apply bg-[#1515eb] shadow-sm;
  }

  .dawn-mode {
    @apply text-white;
  }
}

.sun-mode {
  @apply bg-white text-black;
}

.dawn-mode {
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
}

.moon-mode {
  background-color: black;
  background: linear-gradient(130deg, #ad90c1 0%, rgb(3, 0, 84) 100%),
    linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%),
    linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%),
    radial-gradient(
      100% 246.94% at 100% 0%,
      rgb(255, 255, 255) 0%,
      rgba(37, 0, 66, 0.8) 100%
    ),
    linear-gradient(121.18deg, rgb(20, 0, 255) 0.45%, rgb(27, 0, 62) 100%),
    linear-gradient(154.03deg, rgb(206, 0, 0) 0%, rgb(255, 0, 61) 74.04%),
    linear-gradient(341.1deg, rgb(178, 91, 186) 7.52%, rgb(16, 0, 119) 77.98%),
    linear-gradient(222.34deg, rgb(169, 0, 0) 12.99%, rgb(0, 255, 224) 87.21%),
    linear-gradient(150.76deg, rgb(183, 213, 0) 15.35%, rgb(34, 0, 170) 89.57%);
  background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay,
    difference, difference, normal;
  background-repeat: no-repeat;
  background-size: cover;
}
